extends layout

mixin test(messages)
  if messages 
    each message in messages
      .message-container 
        .date #{message.added}
        .user #{message.user}
        .text #{message.text}

block pageInfo
  h3.hero-info Welcome to  Mini Messageboard!
block content
  .route-button
    a(href="/new") Create Message
  .messages 
    +test(messages)
  
